* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* passa il mouse sopra al testo cambia il colore in arancione*/
a:hover{
    color: orange;
}

/*Header*/
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.action_btn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}

#spacer {
    margin-top: 20px; 
}

#spacer-slider-card {
    margin-top: 80px; 
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 0%;
    width: 320px;
    z-index: 1;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;

}
.sub-menu{
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info h3{
    font-weight: 500;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 12px 0px;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img{
    width: 40px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    -webkit-flow-into: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

/*creazione slider foto*/

#slider{
    overflow: hidden;
    height: 60%;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    height: 100%;
    float: left;
    object-fit: cover;
    object-position: center;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}


/*creazione card*/

.container {
    width: 350px;
    height: 500px;
    perspective: 800px;
    margin-right: 50px;
    margin-left: 50px;
}  

.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-image: url(https://source.unsplash.com/random/350x500);
}

.back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.card-container{
    display: flex;
    justify-content: center; 
    align-items: center;
}


/*about us*/

.headingAbout{
    text-align: left;
    margin-top: 25px;
    margin-left: 8%;
}

.headingAbout h1{
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}

.headingAbout p{
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}

.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}

.about-us img{
    border-radius: 2rem;
    flex: 0.50%;
    max-width: 50%;
    height: auto;
}

.contentAbout{
    padding: 35px;
}

.contentAbout h2{
    color: white;
}

.contentAbout p{
    color: white;
}


/*altro testo*/

.headingText{
    text-align: left;
    margin-top: 25px;
    margin-left: 8%;
}

.headingText h1{
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}

.headingText p{
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}

.text {
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}

.text .contentText {
    flex: 1;
    padding: 10px;
    color: white;
}

.text img {
    border-radius: 2rem;
    flex: 1;
    max-width: 50%;
    height: auto;
}

/*footer*/

footer{
    
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-content .footer-links{
    padding:  10px;
    display: flex;
}

.footer-bottom{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-links .link-space {
    display: inline-block;
    width: 30px;
}



