* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.slideshow-container {
    max-width: 100%;  /* Riduci la larghezza massima dello slideshow al 80% della larghezza della finestra */
    position: relative;
    margin: 5vh auto; /* Questo centrerà orizzontalmente lo slideshow */
    height: 80vh;
}

.mySlides {
    display: none;
    width: 100%;
}


.mySlides img {
    width: 100%;
    height: 70vh;  /* Imposta l'altezza al 50% dell'altezza del viewport */
    object-fit:cover; /* Mantiene le proporzioni dell'immagine mentre la ridimensiona */
}

.dot-container{
    position: absolute;
    top: 80%; /* Posiziona il top del contenitore dei dot al centro del slideshow-container */
    width: 100%; /* Fa si che il contenitore dei dot abbia la stessa larghezza del slideshow-container */
    text-align: center; /* Centra i dot orizzontalmente */
    transform: translateY(-50%); /* Sposta il contenitore dei dot indietro di metà della sua altezza per centrarlo verticalmente */
    background-color: transparent;
}
/* Stile per i punti/bottoni di navigazione */
.dot {
    cursor: pointer;
    height: 2vh;
    width: 2vh;
    margin: 0 0.2vh;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #ccc!important;
    display: inline-block;
    transition: background-color 0.6s ease;
    
}

.dotactive {
    background-color: white;
}