.navbar {
    background-color: black;
    overflow: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 2% 5%; /* Aggiunto padding verticale e orizzontale per non far uscire una navigation bar enorme*/
    
}

.navbar .logo a{
    float: none;
    color: aliceblue;
    text-decoration: none;
    font-size: 3vh;
    font-weight: bold;
}

/*Stile dei link nella navigation bar, per font-size si è scelto vh perché dovrebbe
adattarsi alle dimensioni della pagina*/
.navbar a {
    float: none;
    color: aliceblue;
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: bold;
}

/*Colore dei link nella bar quando si passa con il mouse sopra*/
.navbar a:hover {
    background-color: black;
    color:orange;
}
